<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="gsword.png" />
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <title>Monster Slayer</title>
  </head>
  <body>
    <div id="main">
      <div id="players-container">
        <div class="player">
          <p class="player-name">Hero</p>
          <div class="bar">
            <div class="hp" :style="{width: heroLife(), backgroundColor: heroHpColor}"></div>
          </div>
          <p class="life">{{ heroLife() }}</p>
        </div>
        <div class="player">
          <p class="player-name">Monster</p>
          <div class="bar">
            <div class="hp" :style="{width: monsterLife(), backgroundColor: monsterHpColor}"></div>
          </div>
          <p class="life">{{ monsterLife() }}</p>
        </div>
      </div>
      <hr>
        <div class="win" v-show="victory">Congrats!! You have slayed the monster!</div>
        <div class="lose" v-show="defeat">OMG! You have lost the battle!</div>
      <hr>
      <div class="buttons">
        <div>
          <button @click="startBtn" v-show ="displayAction" class="btn start">Start new game</button>
        </div>
        <div class="action-buttons" v-show="!displayAction">
          <button class="btn attack" @click="heroAttak(); monsterAttak();monsterCriticalLife();heroCriticalLife();victoryOrDefeat();">Attack</button>
          <button class="btn special" @click="specialAttak();monsterCriticalLife();heroCriticalLife();victoryOrDefeat();">Special</button>
          <button class="btn cure" @click="cureHero();victoryOrDefeat();">Cure</button>
          <button class="btn give-up" @click="reset">Give Up</button>
        </div>
      </div>
      <hr>
      <ul class="battle-log">
        <li class="log heroAttak" v-for="atk in heroAtk">{{ atk }}</li>
        <li class="log monsterAttak" v-for="atk in monsterAtk">{{ atk }}</li>
      </ul>
    </div>


    <script src="app.js"></script>
  </body>
</html>