* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ranchers', cursive;
}

#players-container {
  display: flex;
  margin: 30px 0;
}

.player {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  font-size: 34px;
}

.bar {
  width: 85%;
  height: 50px;
  border: 4px solid black;
}

.hp {
  height: 100%;
  width: 100%;
}

.life {
  font-size: 25px;
}

.win, .lose {
  text-align: center;
  font-size: 30px;
}

.win {
  color: rgb(10, 186, 245);
}

.lose {
  color: red;
}

.buttons {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.action-buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 0;
  border-radius: 5px;
  min-width: 60px;
  height: 40px;
  padding: 5px;
  margin: 0 3px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.btn:active {
  background-color: white;
}

.start {
  background-color: blue;
}

.attack {
  background-color: red;
}

.special {
  background-color: orange;
}

.cure {
  background-color: green;
}

.give-up {
  background-color: gray;
}

.battle-log {
  list-style-type: none;
  text-align: center;
  padding: 0 10px;
}

.log {
  font-family: cursive;
  font-weight: 700;
  font-size: 20px;
  border-radius: 2px;
  margin-top: 6px;
}

.heroAttak {
  background-color: rgba(38, 148, 222, 0.5);
}

.monsterAttak {
  background-color: rgba(189, 79, 79, 0.5);
}